# 2025 2 36 0 1 # 25q3 sdk/api level 36.0 - Android 16 QPR1

# Previous versions (for documentation)
# 2025 2 36 0 0 1 # 25q3 sdk/api level 36.0 - Android 16 QPR1
# 2025 2 36 0 0 # 25q2 sdk/api level 36.0 - Android 16 Baklava QPR0
# (versions before A16 do not include anything here)

# Note: This will actually execute /apex/com.android.tethering/bin/netbpfload
# by virtue of 'service bpfloader' being overridden by the apex shipped .rc
# Warning: the below settings are irrelevant unless the apex is missing.
service bpfloader /system/bin/false
    user root
    oneshot
    reboot_on_failure reboot,netbpfload-missing
    updatable
